{% extends "base.html" %}

{% block content %}
    <input id="API_TOKEN" value="{{API_TOKEN}}" type="hidden"/>
    <div id="app">
    {% verbatim %}
            <article class="about-section py-5">
                <div class="container">
                    <h2 class="title mb-3">{{name}}</h2>
                    <img :src="heroImage" class="img-fluid" alt="Responsive image" v-if="heroImage">
                </div>
            </article><!--//about-section-->
            <section class="cta-section theme-bg-light py-5">
		        <div class="container text-center" v-html="body"></div>
            </section>
    {% endverbatim %}
    </div>
{% endblock %}

{% block page_scripts %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="https://cdnjs.buttercms.com/buttercms-1.2.3.min.js"></script>

    {% load static %}
    <script type="text/javascript" src="{% static "pages/js/index.js" %}"></script>
{% endblock %}

{% block page_styles %}
    {% load static %}
    <link rel="{% static "pages/css/index.css" %}" type="text/css">
{% endblock %}

