{% extends "base.html" %}
{% block content %}
    <section class="blog-list px-3 py-5 p-md-5">
        <div class="container">
        {% for post in posts %}
            <div class="item mb-5">
                <div class="media">
                    <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{{post.featured_image}}" alt="image">
                    <div class="media-body">
                        <h3 class="title mb-1"><a href="blog-post.html">{{post.title}}</a></h3>
                        <div class="meta mb-1"><span class="date">Published {% to_date post.published %}</span></div>
                        <div class="intro">{{post.summary}}</div>
                        <a class="more-link" href="{% url 'blogs:post' post.slug %}">Read more &rarr;</a>
                    </div><!--//media-body-->
                </div><!--//media-->
            </div><!--//item-->
        {% endfor %}
        </div>
    </section>
{% endblock %}